.chatbox
{
	position: fixed;
	position: expression( "absolute" );
	bottom: 0;
	right: 0;
	width: 220px;
	z-index: 13;
	margin-bottom: 30px;
	border: 1px solid #ccc;
	min-height: 100px;
	max-height: 500px;
	overflow: auto;
}

.cartheight
{
}

.product-image ui-draggable ui-draggable-dragging
{
	z-index: 200000;
}

.keynav_box
{
	
	
	
}

.keynav_focusbox
{
		background-color: blue;
		color:#fff;	
}


